body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/268/original/library_books.png?1707847859");
}

header {
  margin-bottom: 50px;
}

h1 {
  color: #fff;
  font-size: 55px;
  font-family: "Protest Riot", sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 14px;
  font-family: "Protest Riot", sans-serif;
  line-height: 1.5;
  text-align: left;
  opacity: 0.5;
  padding-left: 10px;
}

main {
  padding: 30px;
  padding-bottom: 15px;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 17px;
  margin-bottom: 30px;
}

form {
  display: flex;
}

footer {
  font-size: 13px;
  font-family: "Protest Riot", sans-serif;
  padding: 5px;
  background-color: #fff;
  border-radius: 17px;
  margin-top: 30px;
  opacity: 0.9;
}

.project {
  text-align: center;
  margin: 120px auto;
  max-width: 600px;
  opacity: 0.9;
}

.user-input {
  padding: 15px;
  border: 1px solid #000;
  width: 70%;
  font-size: 14px;
  font-family: "Protest Riot", sans-serif;
  border-radius: 17px;
  line-height: 20px;
}

.submit-button {
  margin-left: 15px;
  padding: 15px;
  width: 25%;
  border-radius: 17px;
  font-size: 20px;
  font-family: "Protest Riot", sans-serif;
}

.book-suggestion {
  font-size: 20px;
  font-family: "Protest Riot", sans-serif;
  background-color: #fff;
  border-radius: 17px;
  padding: 15px;
  line-height: 1.5;
  opacity: 0.9;
}
